.header {
    background-color: #1D1D1F;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
    padding-block: 36px;
    padding-bottom: 150px;
}

.header__logo {
    font-size: 32px;
    align-items: center;
    color: #FFFFFF;
}

.menu {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header__link {
    color: #FFFFFF;
}