.hero__container {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    color: #FFFFFF;
}

.hero__title {
    font-size: 96px;
}

.hero__subtitle {
    font-weight: 400px;
}

.hero__button {
    color: #1D1D1F;
    background-color: #FFFFFF;
    padding-block: 20px;
    margin-top: 50px;
    max-width: 180px;
}